# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Development
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
.cursorrules
/instructions
instructions.md

# Optional: Yarn & NPM
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.npm

# Cache
.cache/
.eslintcache
.stylelintcache

# Local Netlify folder
.netlify 